th, td {
    white-space: nowrap;
    text-align: center;
    vertical-align: center;
    font-size: medium;
}
.bg-dark {
    background-color: #00284D !important;
}
.sidebar {
    background-color: #001529 !important;
}
.bg-primary {
    background-color: #FFFFFF !important;
}
.mt-2 {
    margin-top: 0 !important;
}
.navIcon {
    height: 15px; margin-top: -5px;
}
.navP {
    padding-left: 10px;
}
.navP2 {
    padding-left: 1px;
}
.headTr > th {
    background-color: #FAFAFA !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
tr, td, th {
    padding: 6px !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.userInfoSpan {
    color: #000000 !important;
}
.nav-img {
    width: 26px !important;
}
.nav-img-search {
    height: 20px !important;
}
.nav-img-message {
    height: 20px !important;
}
.active {
    background-color: #E6EAEE !important;
}

